:root {
    --text-color: #dadada;
    --frame-color: #292934;
    --frame-border-color: #4b4b56;

    --port-color-0: #f0e67a;
    --port-color-1: #84de7f;
    --port-color-2: #e87676;
    --port-unresolved: #929292;
}

#app {
    color: #dadada;
    font-family: -apple-system, "Segoe UI", sans-serif;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; 
    margin: 0;
}

*:focus {
    outline: none;
}

.main-menu-bar-frame {
    width: 100%;
    height: 50px;
    background:
        linear-gradient(90deg, #101112, #1a1a1d 50%, #101112 100%) border-box;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.title {
    flex-grow: 1;
    margin-left: 10px;
    font-family: -apple-system, "Segoe UI", sans-serif;
    font-weight: bold;
    color: #819bbc;
}

.logo {
    width: 30px;
    height: 30px;
    fill: transparent;
    stroke: #386ac0;
    stroke-width: 40px;
    background: #242830;
    border: 1.5px solid #252a32;
    padding: 2px;
    margin-left: 10px;
    border-radius: 4px;
}

.compile-button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
    padding: 5px 15px;
    background-color: #386b59;
    border-radius: 6px;
    border: 1px solid #478771;
    color: #dadada;
    font-family: -apple-system, "Segoe UI", sans-serif;
    filter: drop-shadow(0px 2px #2b5044);
    transition: background-color 50ms;
}

.compile-button:hover {
    background-color: #478771;
    transition: background-color 50ms;
}

.compile-button:active {
    transform: translateY(2px);
    filter: drop-shadow(0px 0px #2b5044);
}

.tab {
    width: 100%;
    height: 30px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background:
        linear-gradient(90deg, #1a1b1e, #242428 50%, #1a1b1e 100%) padding-box,
        linear-gradient(90deg, #00000050, #00000000 50%, #00000050 100%) border-box,
        linear-gradient(180deg, #28292b, #28292b) border-box;
    filter: drop-shadow(0px 0px 3px #000000);
    z-index: 10;
}

.flow-container {
    width: 100%;
    flex: 1 1 auto;
}

.menu-frame {
    padding: 0px;
    border-radius: 5px;
    border: 1.5px solid transparent;
    background-color: #1e1e22;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background:
        linear-gradient(180deg, #1e1e22, #1a1a1d) padding-box,
        linear-gradient(90deg, #00000050, #00000000 50%, #00000050 100%) border-box,
        linear-gradient(180deg, #474959, #323238) border-box;
}

.menu-input-icon {
    position: absolute;
    top: 7px;
    left: 5px;
    height: 20px;
    width: 20px;
    fill: #dadada;
}

.menu-input {
    color: #dadada;
    background: #27272d;
    padding: 8px 6px;
    padding-left: 30px;
    border: 1px solid transparent;
    border-bottom: 1px solid #32323c;
}

.menu-item {
    display: flex;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
}

.menu-item[data-highlighted] {
    background-color: #393945;
}

.menu-item[data-selected] {
    background-color: #393945;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-folder-icon {
    width: 20px;
    height: 20px;
    fill: #dadada;
}

.menu-item-file-count {
    background-color: #dadada0f;
    border-radius: 4px;
    padding: 3px 5px;
    margin-left: 4px;
    font-size: 10px;
}

.flow-background {
    position: relative;
    x: 0;
    y: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(90deg, #00000050, #00000000 50%, #00000050 100%) padding-box,
        linear-gradient(180deg, #252527, #0e0e0f) padding-box;
}

.flow-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../noise-texture.png");
    opacity: 0.20;
    mix-blend-mode: multiply;
}

.node-frame {
    position: relative;
    border: 1.5px solid transparent;
    border-radius: 6px;
    min-width: 180px;
    font-size: 12px;
    color: #d7d3d6;
    background:
        linear-gradient(90deg, #00000015, #00000000 50%, #00000015 100%) padding-box,
        linear-gradient(180deg, #2b2c33, #1a1a1d) padding-box,
        linear-gradient(90deg, #00000050, #00000000 50%, #00000050 100%) border-box,
        linear-gradient(180deg, #7c809f, #44444c) border-box;
    filter: drop-shadow(0px 14px 15px rgba(0,0,0,0.5));
}

.svelte-flow__selection {
  background: transparent;
  border: none;
}

.svelte-flow__selection::before {
  content: '';
  position: absolute;
  inset: -12px;
  background-color: rgba(161, 161, 161, 0.067);
  border: 1px dashed rgb(143, 143, 143);
  border-radius: 6px;
}

.svelte-flow__node.selected {
    outline: 2px solid orange;
    border-radius: 6px;
}

.svelte-flow__edge.selected .svelte-flow__edge-path {
    stroke-width: 3;
}

.node-content {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.node-header {
    padding: 10px 10px;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    border-bottom: 1px solid #19191c;
    background:
        linear-gradient(90deg, #00000025, #00000000 40%, #00000000 70%, #00000025 100%) border-box,
        linear-gradient(180deg, #3b3c47, #33343d 93%, #3d3f4c 100%) padding-box;
}

.node-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0;
    gap: 16px;
}

.node-inputs {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 4px;
    place-content: start;
    flex-grow: 1;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.node-outputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.node-footer {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 4px;
    place-content: start;
    flex-grow: 1;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid transparent;
    background:
        linear-gradient(90deg, #00000025, #00000000 50%, #00000025 100%) border-box,
        linear-gradient(180deg, #34353f, #2c2d34) padding-box,
        linear-gradient(90deg, #494b59, #6b6f89 50%, #494b59 100%) border-box;
}

.node-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.node-name-label {
    color: #ffffffc0;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.port-label {
    color: #ffffffc0;
    padding: 0 8px;
    white-space: nowrap;
}

.port-control {
    width: 100px;
    color: #ffffffc0;
    border: 1px solid #ffffff20;
    border-radius: 4px;
    padding: 2px;
    background:
        radial-gradient(#2d3a50, #293040) padding-box;
}

.port-handle {
    position: relative;
    height: 100%;
    min-height: 20px;
    min-width: 20px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.port-handle-source {
    right: 15px;
    margin-left: 3px;
}

.port-handle-target {
    left: 15px;
}