:root {
    --text-color: #dadada;
    --frame-color: #292934;
    --frame-border-color: #4b4b56;
}

body {
    color: var(--text-color);
}

.menu-frame {
    padding: 0px;
    border-radius: 5px;
    border: var(--frame-border-color);
    border-width: 1px;
    border-style: solid;
    background-color: var(--frame-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.menu-item[data-highlighted] {
    background-color: #4b4b56;
}

.menu-item[data-selected] {
    background-color: #4b4b56;
}

.node-frame {
    background: #2d2e35;
    outline: rgba(150, 150, 150, 0.45) solid 1px;
    border: 1px solid rgba(150, 150, 150, 0.15);
    border-radius: 6px;
    min-width: 180px;
    font-size: 12px;
    color: #d7d3d6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.node-content {
    display: flex;
    padding-bottom: 10px;
}

.node-header {
    background: #3a3c44;
    padding: 10px 10px;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    border-bottom: 2px solid #25272e;
}

.node-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0;
    gap: 16px;
}

.node-inputs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 4px;
}

.node-outputs {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.node-outputs {
    align-items: flex-end;
}

.node-row {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 0;
    position: relative;
    height: 20px;
}

.port-label {
    padding: 0 8px;
    white-space: nowrap;
}

/* override svelte flow's default handle positioning */
/*:global(.svelte-flow .svelte-flow__handle) {
    position: relative;
    transform: none;
    top: unset;
    left: unset;
    right: unset;
}*/